.ractangle{
    height:60px;
    width:550px;
    background:blue;
    margin: auto;
    position:relative;
}

.ractangle::before{
    position:absolute;
    content:'';
    top:100%;
    width: 0;
    height: 0;
    border-top: 40px solid blue;
    border-left: 40px solid transparent;
}

.ractangle::after{
    position:absolute;
    content:'';
    top:100%;
    right:0;
    width: 0;
    height: 0;
    border-top: 40px solid blue;
    border-right: 40px solid transparent;
}

.rform{
    display: none;
   
}

.ractangle:hover .rform{
    display: inline;
    transition: all 5s ease-in-out;
    animation: updown;
}

@keyframes updown {
    
}